#--------------------------------------------------
# CV Reader Task
#--------------------------------------------------
cv_reader_task:
  description: >
    1. Read all PDF CV files from the directory {pdf_files_path}.
    2. For each PDF CV file, extract its text content.
    3. Save the extracted text to a new .txt file in the directory {txt_files_path}.

    Use the following tools:
    - DirectoryReadTool: to list all PDF files in the specified folder.
    - PDFReaderTool: to extract text content from each PDF file and save it as a .txt file.

    Ensure that the output .txt files are named identically to their source PDF files,
    but with a .txt extension, and are stored in the specified output directory.
    DO NOT READ THE CONTENT, ONLY PASS IT TO THE TOOL, AND DO NOT GENERATE ANY ADDITIONAL OUTPUT.
  
  expected_output: >
    Completed
  
  agent: cv_reader

#--------------------------------------------------
# CV Analyzer Task
#--------------------------------------------------
cv_analyzer_task:
  description: >
    1. Use the DirectoryReadTool to list all text-based CV files from the directory {txt_files_path}.
    2. Read its content using the FileReadTool.
    3. Analyze and interpret the content using the cv_analyzer agent to extract, structure, and enrich all relevant details.
    4. You should strictly follow the CandidateCV schema.
    5. Write your evaluative insights in agent_assessment section.
    6. If certain information is missing or unclear, the agent should infer it logically or leave.
    7. after processing the CV, you should save it in {json_files_path}.
    7. Once all CV files have been successfully processed and saved, return the word "Completed".

  expected_output: >
    Completed

  agent: cv_analyzer

#--------------------------------------------------
# Matcher Task
#--------------------------------------------------
matcher_task:
  description: >
    1. Use the DirectoryReadTool to list all text-based CV files from the directory {txt_files_path}.
    2. Read its content using the FileReadTool.
    3. Analyze and interpret the content using the cv_analyzer agent to extract, structure, and enrich all relevant details.
    4. You should strictly follow the CandidateCV schema.
    5. Write your evaluative insights in agent_assessment section.
    6. If certain information is missing or unclear, the agent should infer it logically or leave.
    7. after processing the CV, you should save it in {json_files_path}.
    7. Once all CV files have been successfully processed and saved, return the word "Completed".

  expected_output: >
    Completed

  agent: cv_analyzer